# ignore secrets, virtual environments and typical python compilation artifacts
secrets.toml
dlt-youtube-api-ed77396042cc.json
# ignore basic python artifacts
.env
**/__pycache__/
**/*.py[cod]
**/*$py.class
# ignore duckdb
*.duckdb
*.wal